@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
}
header{
        width: 100%;
        height: 100%;
        grid-template-columns: minmax(300px,1100px);
    }
nav{
    display: grid;
    width: 100%;
    height: 100px;
    grid-gap: 5px;
    justify-content: space-between;
}
#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 150px;
    height: 100%;
    transition: scale .5s;
    margin-left: 10px;    
}
#logo img{
    width: 100%;
}
#logo:hover{
    transform: scale(1.2,1.2);
}
ul{
   grid-column: 2/3;
   grid-row: 1/2;
   width: 300px;
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
   align-items: center;
}
li{
    font-size: 1rem;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: rgb(134, 134, 134);
    font-size: 1rem;
    transition:font-size .2s;
    font-family: 'Noto Sans TC', sans-serif;
}
ul li a:hover{
    color: rgb(107, 107, 107);
    font-size: 1.2rem;
    font-weight:900;
}
.hammber{
    margin: 20px 20px 0 0;
    grid-row: 1/2;
    grid-column: 3/4;
    width: 30px;
    height: 30px;
    display: none;
}
.irc{
    background-color: rgb(134, 134, 134);
    margin-bottom: 5px;
    width: 30px;
    height: 5px;
}
.showmenu{
    transform:translateX(0);
}
.carouselExampleCaptions img{
    width: 30%;
}
.banner_0{
    color: snow;
    position: absolute;
    top: 300px;
    right: 100px;
    perspective: 500px;
}
.banner_0 h1{
    font-size: 50px;
    letter-spacing: 5px;
    border-bottom: 10px solid snow;
    padding: 5px;
}
.banner_0 h2{
    font-size: 35px;
    text-align: center;
    letter-spacing: 10px;
    line-height:50px;
}
.banner_0 h3{
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 10px;
    text-align: center;
}
.banner_1{
    width: 800px;
    transform: rotateX(20deg);
    transform-style: preserve-3d;
}
.cap{
    position: absolute;
    top: 47%;
    left: 10%;
    color: #fff;
    width: 40%;
    text-align: center;
}
.cap h1{
    background-color: #212a39;
    font-size: 50px;
    width: 100%;
    letter-spacing: 5px;
    padding: 5px;
}
.cap h2{
    font-size: 37px;
    letter-spacing: 5px;
    line-height: 50px;
}
.cap h3{
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
section video{
    width: 100%;
}

#section_1{
    display: grid;
    height: 100%;
    justify-items: center;
    background-color:rgba(11, 45, 70, 1);

}
#section_1 h2{
    border-left: 5px solid snow;
    height: 45%;
    color: snow;
    margin: 40px 0 0 0;
    padding: 0 10px ;
    font-size: 40px;

}
.story{
    display: grid;
    align-items: center;
    grid-gap:5px;
    width: 90%;
    height: 100%;
    grid-auto-rows: .3fr;
    grid-auto-columns: .3fr;
    margin: 50px;
    justify-content:space-evenly;
}
 .landscape{
    width: 100%;
    grid-column: 1/2;
}
.landscape img{
    width: 85%;
}
.story_0{
    width: 100%;
    grid-column: 2/3;
}
.story_0 h3{
    color: snow;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 55px;
    text-align: center;
    margin-bottom:20px ;
}
.story_0 h4{
    color: snow;
    font-size: 23px;
    letter-spacing: 5px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
}
#section_1 p{
    color: snow;
    letter-spacing: 5px;
    line-height: 30px;
    font-size: 20px;
}
#section_2{
    background-color: rgb(23, 62,84);
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
}

#section_2 h2{
    color: snow;
    width: 15%;
    margin: 40px 0 30px 10%;
    height: 35%;
    border-left: 5px solid snow;
    padding: 0 0 0 10px;
    font-size: 40px;
}
.product_0{
    display: grid;
    width: 65%;
    height: 100%;
    grid-auto-columns: .5fr;
    grid-auto-rows: .5fr;
    margin: 0 0 50px 70px;
    justify-content: space-evenly;
}
.product_1{
    background-color: rgb(15, 76, 89);
    width: 80%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 10%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
 .product_0  img{
    width: 100%;
}
.product_2{
    background-color: rgb(15, 76, 89);
    width: 80%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 10%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.sale{
    color: snow;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 10px;

}
.shop_cart_2, .shop_cart_1{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}
.shop_cart_2 img ,.shop_cart_1 img{
    width: 30%;
}
#section_3{
    background-color: rgb(11, 45,70);
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
}
#section_3 h2{
    color: snow;
    width: 15%x;
    border-left: 5px solid;
    padding: 0 10px;
    margin:80px 0 0 0;
    font-size: 40px;
    height: 15%;
}
.film{
    width: 80%;
    height: 100%;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    margin-bottom: 50px;
}
.film video{
    grid-column: 1/2;
    grid-row: 1/2;
}

.propaganda{
    color: snow;
    width: 80%;
    height: 70%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 100px;
    display: grid;
    align-items: center;
}
.propaganda p{
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 50px;
}
.propaganda h3{ 
font-size: 35px;
line-height: 50px;
}
footer{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
width: 100%;
}
.contact{
    width: 30%;
    display: flex;
    flex-direction: row;
    margin:10px 0 10px 10px;
    justify-content: space-evenly;
}
.contact img{
    width: 35%;
    margin: 5px;
}
.contact div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;

}
.copy_right{
    margin: 20px;
}
@media only screen and (min-width:768px){
    .banner_1{
        width: 430px;
    }
    .banner_0{
        top: 100px;
        right: 3%;
    }
    .banner_0 h1{
        font-size: 30px;
    }
    .banner_0 h2{
        font-size: 25px;
    }
    .cap{
        width: 50%;
        top:40%;
        left: 6%;
    }
    .cap h1{
        font-size:30px;
    }
    .cap h2{
        font-size: 29px;
    }
    .cap h3{
        font-size: 20px;
        line-height: 30px;
    }
    #section_1 h2{
        height: 20%;
    }
    .story{
        width: 100%;
        justify-content:center;
    } 
    .story_0{
        grid-column: 2/3;
        overflow-y: scroll;
        height: 100%;
    }
    .story_0 h3{
        margin-bottom: 5px;
        font-size: 23px;
    }
    #section_1 p{
        font-size: 15px;
    }
    .story_0 h4{
        font-size: 18px;
        line-height: 45px;
        margin-top:15px;
    }
    #section_2 h2{
        width: 18%;
        height: 21%;
    }
    .product_0{
        width: 85%;
        margin: 0 0 50px 50px;
    }
    .shop_cart_2, .shop_cart_1{
        width: 28%;
    }
    .propaganda{
        margin-left: 40px;
        text-align: center;
        width: 100%;
        height: 40%;
    }
    .propaganda h3{
        font-size: 30px;
    }
    .propaganda p{
        font-size: 20px;
        line-height: 30px;
    }
    .contact {
        width: 47%;
    }
    iframe{
        width: 100%;
        height: 50%;
    }

}
@media only screen and (min-width:1025px){
    .banner_1{
        width: 680px;
    }
    .banner_0{
        top: 300px;
        right: 100px;
    }
    .banner_0 h1{
        font-size: 50px;
    }
    .banner_0 h2{
        font-size: 35px;
    }
    .cap{
        width: 40%;
        top: 47%;
        left: 10%;
    }
    .cap h1{
        font-size:50px;
    }
    .cap h2{
        font-size: 37px;
    }
    .cap h3{
        font-size: 30px;
        line-height: 55px;
    }
    #section_1 h2{
        height: 45%;
    }
    .story{
        width: 90%;
        justify-content:center;
    } 
    .story_0{
        grid-column: 2/3;
    }
    .story_0 h3{
        margin-bottom: 10px;
        font-size: 30px;
    }
    #section_1 p{
        font-size: 20px;
    }
    .story_0 h4{
        font-size: 23px;
        line-height: 50px;
        margin-top:20px;
    }
    #section_2 h2{
        width: 15%;
        height: 35%;
    }
    .product_0{
        width: 65%;
        margin: 0 0 50px 70px;
    }
    .shop_cart_2, .shop_cart_1{
        width: 20%;
    }
    .propaganda{
        margin-left: 100px;
        width: 80%;
        height: 70%;
    }
    .propaganda h3{
        font-size: 35px;
    }
    .propaganda p{
        font-size: 30px;
        line-height: 50px;
    }
    .contact {
        width: 30%;
    }
    iframe{
        width: 560px;
        height: 315px;
    }
}  
@media only screen and (max-width:767px){
    nav{
        height: 60px;
    }
    #logo{
        height: 20%;
        width: 60px;
        margin: 10px  0 0 20px;
    }
    ul{
    width: 200px;
    height: 690px;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    background-color: snow;
    transform: translateX(-500px);
    grid-column: 1/2;
    transition: 1s;
    position: fixed;
    border-bottom: 1px solid gray;
}
ul li{
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}
.hammber{
    display: block;
}
.banner_0{
    top: 15%;
    right: 2%;
    width: 54%;
    height: 40%;
    text-align: center;
}
.banner_1{
    width: 100%;
}
.banner_0 h1{
    font-size: 12%;
    border-bottom:2px solid snow ;
    letter-spacing: 2px;
    text-align: center;
    padding: 0;
    line-height: 20px;
}
.banner_0 h2{
    font-size: 10%;
    line-height: 20px;
    letter-spacing: 5px;
}
.banner_0 h3{
    font-size: 5%;
    line-height: 20px;
    letter-spacing: 5px;
}
.cap{
    top:30%;
    left: 0;
    width: 76%;
}
.cap h1 {
    font-size: 15px;
    width: 80%;
    margin-left: 8%;
}
.cap h2{
    font-size: 13px;
    letter-spacing: 2.5px;
}
.cap h3{
    font-size: 8px;
    line-height: 20px;
    letter-spacing: 2.5px;
}
.story{
    width: 80%;
    justify-content: center;
    margin: 10px 0 0 0;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}
#section_1 p{
    font-size: 5px;
    letter-spacing: 2px;
    line-height: 20px;
}
.landscape{
    grid-row: 1/2;
    grid-column: 1/3;
    width: 70%;
    margin:0 auto;
}
.landscape img{
    width: 100%;
}
.story_0{
    grid-column: 1/3;
    grid-row: 2/3;
    height: 100%;
    margin: 10% 0 0 0;
}
.story_0 h3 {
    font-size: 20px;
    line-height: 0;
    margin-bottom: 15px;
}
.story_0 h4{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#section_1 h2{
    font-size: 23px;
    height: 30%;
}
#section_2 h2{
    font-size: 20px;
    width: 30%;
    margin: 5% 0 3% 20%;
    height: 35%;
    padding: 0 0 0  2%;
}

.product_0{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.product_1{
    width: 120%;
    margin: 0;
    height: 97%;
} 
.product_2{
    width: 120%;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 10px 0 0 0;
    height: 95%;
}
.sale{
    font-size: 0.5rem;
    text-align: center;
}
.shop_cart_2, .shop_cart_1{
    width: 30%;
}
#section_3 h2{
    font-size: 23px;
    margin: 30% 0 0 0;
    height: 8%;
    width: %;
}
section video {
    width: 85%;
    margin: 0 auto;
}
.film{
    width: 90%;
    height: 90%;
}
iframe{
    width: 200%;
    height: 100%;
}
.film video{
    grid-column: 1/3;
}
.propaganda{
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 10%;
    justify-items: center;
}
.propaganda h3{
    font-size: 20px;
    margin-left: 5%;
    letter-spacing: 3px;
}
.propaganda p{
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 20px;
}
footer p{
    font-size: 50%;
}
.contact{
    width: 100%;
}
.contact img{
    width: 20%;
}
    }
    @media only screen and (max-width:415px){
        .product_0{
            width: 81%;
        }
    }
    @media only screen and (max-width:361px){
        .product_0{
            width: 90%;
        }
    }
    @media only screen and (max-width:321px){
        .story_0{
            margin: 0;
        }
        .product_0{
            width: 100%;
        }

    }
